<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#987c62"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>BADARESTO</title>
    <link rel="icon" href="logo_badaresto.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <a href="#main-content" class="skip__to__content">Skip To Content</a>
    
    <!-- ==== Header Content ==== -->
    <header class="container">
      <div class="logo">BADARESTO</div>
      <button tabindex="0" id="hamburgerButton">☰</button>
  
      <nav>
        <ul id="navigationDrawer">
          <li><a href="#/home">Home</a></li>
          <li><a href=" #/like"">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/ahmad-badar-167aa7220" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>

    <!-- Hero Element -->
    <!-- <div class="hero" style="background-image: url('images/heros/hero-image_4.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">BADARESTO</h1>
            <p class="hero__tagline">Setiap orang pasti merasakan lapar, jika orang tersebut tidak pernah merasa lapar maka dia bukanlah orang!</p>
        </div>
    </div>   -->

  <!-- ==== Main Content ==== -->
    <main id="main-content" tabindex="0">
      <div id="restaurantList" class="posts"></div>
    </main>

    <!-- ==== Footer ==== -->
    <footer>
      <a href="#">Copyright © 2024 - Badaresto Apps</a>
    </footer>
  </body>
</html>
